@import "tailwindcss";

:root {
  --bg-color: #fcfcfc;
  --second-bg-color: #f0f0f0;
  --text-color: hsl(0, 0%, 0%);
  --main-color: #808080;
}

:root.dark {
  --bg-color: #161616;
  --second-bg-color: #262626;
  --text-color: #c9c9c9;
  --main-color: #7d7d7d;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[var(--bg-color)] text-[var(--text-color)] font-sans;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 0.7px var(--main-color);
  }
  .text-clip {
    -webkit-background-clip: text;
  }
}